@model BoardGameLibrary.Models.CopySearchViewModel

@using (Ajax.BeginForm("SearchCopies", "Copies", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "copy-search-results" }))
{
    @Html.AntiForgeryToken()
    <h4>Copy Search</h4>
    <hr />
    <div id="CopySearchMessages" class="notification-wrapper">

    </div>
    <div class="row">
        <div class="form col-md-3">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.LabelFor(model => model.GameTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.EditorFor(model => model.GameTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GameTitle, "", new { @class = "text-danger" })
            </div>
            <br />
            <input id="btnSearch" type="submit" value="Search" class="btn btn-lg btn-primary" />
        </div>
        <div id="copy-search-results" class="col-md-9">

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
