@model BoardGameLibrary.Models.CopyCheckOutViewModel

<div id="check-out-form-wrapper">
    @using (Ajax.BeginForm("CheckOutCopy", "Copies", new AjaxOptions { HttpMethod = "POST", OnComplete = "updateCheckOutForm(data)" }))
    {
        @Html.AntiForgeryToken()

        <div class="col-md-12 notification-panel">
            <p id="copy-check-out-notifications"></p>
        </div>
        <div class="form-horizontal">
            <h4>Check Out</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.CopyLibraryID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CopyLibraryID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CopyLibraryID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AttendeeBadgeID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AttendeeBadgeID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AttendeeBadgeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Check Out" class="btn btn-lg btn-primary" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
