@model IEnumerable<BoardGameLibrary.Models.Copy>

<table class="table table-condensed table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibraryID)
        </th>
        <th>
            Checked Out At
        </th>
        <th>
            Checked Out To
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    string rowClass;
    if (item.CurrentCheckout == null)
    {
        rowClass = "success";
    }
    else
    {
        rowClass = "danger";
    }
    <tr class="@rowClass">
        <td>
            @Html.DisplayFor(modelItem => item.Game.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibraryID)
        </td>
        <td>
            @if (item.CurrentCheckout != null)
            {
                @Html.DisplayFor(modelItem => item.CurrentCheckout.TimeOut)
            }
        </td>
        <td>
            @if (item.CurrentCheckout != null)
            {
                @item.CurrentCheckout.Attendee.Name <text>(@item.CurrentCheckout.Attendee.BadgeID)</text>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Copies", new { id = item.ID }, new { @class = "btn btn-sm btn-default" })
            @if (item.CurrentCheckout != null)
            {
                <button class="btn btn-sm btn-default" onclick="CheckInGame(@item.LibraryID)" value="Check In">Check In</button>
            }
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function CheckInGame(id) {
        $.post('@Url.Action("CheckInCopyLight", "Copies")', { copyId: id }, function (response) {
            var message = response.message;
            var message = "<div class='notification-panel fade-in fade-out-delayed'><span class='notification fade-in fade-out-delayed'>" + message + "</span></div>";
            $("#CopySearchMessages").html(message);
            $("#btnSearch").click();
        });
    }
</script>