<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/favicon.png" type="image/x-icon" />
    <title>Geekway Library</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="~/Images/SmLibAppLogo.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{ var controllerName = ViewContext.RouteData.Values["Controller"].ToString();}
                    @{ var actionName = ViewContext.RouteData.Values["Action"].ToString();}
                    <li class="@(controllerName == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@(controllerName == "Games" || (actionName != "ListCheckedOutCopies" && controllerName == "Copies") ? "active" : "")">@Html.ActionLink("Games", "Index", "Games")</li>
                    <li class="@(controllerName == "Attendees" ? "active" : "")">@Html.ActionLink("Attendees", "Index", "Attendees")</li>
                    <li class="@(controllerName == "Copies" && actionName == "ListCheckedOutCopies" ? "active" : "")">@Html.ActionLink("Checked Out Copies", "ListCheckedOutCopies", "Copies")</li>
                    <li class="@(controllerName == "Checkouts" ? "active" : "")">@Html.ActionLink("Checkout History", "Index", "Checkouts")</li>
                </ul>
                @Html.Partial("_CopyNavSearch")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Geekway to the West @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
