@model BoardGameLibrary.Models.Copy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Copy</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibraryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibraryID)
        </dd>

        <dt>
            Checked out to
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentCheckout.Attendee.Name)
        </dd>

        <dt>
            Checked out at
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentCheckout.TimeOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" }) 
</p>
