@using PagedList.Mvc;
@model AttendeeIndexViewModel
@using BoardGameLibrary.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attendees</h2>
@{
    ErrorList errorList = (ErrorList)ViewBag.Errors;
    if (errorList != null && errorList.Errors.Any())
    {

        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <strong>Errors</strong>
            <ul>
                @foreach (var err in errorList.Errors)
                {
                    <li>@err</li>
                }
            </ul>
        </div>
    }
}
<div class="row">
    <div class="col-md-1">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-offset-1 col-md-4">
        @using (Html.BeginForm("Index", "Attendees", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="row">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control text-box col-md-1", placeholder = "Name or Badge ID" })
                <input type="submit" value="Search" class="btn btn-primary col-md-3" />
            </div>
        }
    </div>
    <div class="col-md-offset-1 col-md-5">
        @using (Html.BeginForm("Import", "Attendees", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-inline">
                <div class="form-group width50pct">
                    <input type="file" class="filestyle" data-buttontext=" Browse..." data-buttonname="btn-primary" data-buttonbefore="true" name="File" />
                </div>
                <input type="submit" name="submit" class="btn btn-success" value="Import" />
            </div>
        }
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Attendees[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attendees[0].BadgeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Attendees) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadgeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default btn-sm" })
            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })*@
        </td>
    </tr>
}

</table>
<br />
Page @(Model.Attendees.PageCount < Model.Attendees.PageNumber ? 0 : Model.Attendees.PageNumber) of @Model.Attendees.PageCount

@Html.PagedListPager(Model.Attendees, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

@section Scripts{
    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
}