@model IEnumerable<BoardGameLibrary.Models.Attendee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attendees</h2>

<div class="row">
    <div class="col-md-1">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-offset-5 col-md-6">
        @using (Html.BeginForm("Import", "Attendees", new { enctype = "multipart/form-data" }, FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group width50pct">
                <input type="file" class="filestyle" data-buttontext=" Browse..." data-buttonname="btn-primary" data-buttonbefore="true">
            </div>
            <input type="submit" class="btn btn-success" value="Import" />
        }
    </div>
</div>
<br />
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BadgeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BadgeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>

@section Scripts{
    <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
}