@model BoardGameLibrary.Models.HomeModel
@Scripts.Render("~/bundles/geekway-library")
<br /><br />
<h3>Geekway to the West Library Manager <span class="badge">@DateTime.Now.Year</span></h3>

<div class="row">
    <div class="col-md-6">
        <div class="content-block minheight">
            @Html.Partial("_CopyCheckOut", Model.CheckOut)
        </div>
    </div>
    <div class="col-md-6">
        <div class="content-block minheight">
            @Html.Partial("_CopyCheckIn", Model.CheckIn)
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div id="copy-search-wrapper" class="content-block">
            @Html.Partial("_CopySearch", Model.CopySearch)
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
