@model IEnumerable<BoardGameLibrary.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-hover tble-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            # of Copies
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (item.Copies != null)
            {
                <span>@item.Copies.Count</span>
            }
            else
            {
                <span>0</span>
            }
        </td>
        <td>
            @Html.ActionLink("Manage Copies", "Index", "Copies", new { gameID = item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
            @if (item.Copies.Count == 0)
            {
               @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
            }
        </td>
    </tr>
}

</table>
